<%= form_with(model: song) do |form| %>
  <% if song.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title,  class: 'input input-bordered'  %>
  </div>

  <div>
    <%= form.label :singer, style: "display: block"%>
    <%= form.text_field :singer,  class: 'input input-bordered'  %>
  </div>

  <select class="select select-bordered w-full max-w-xs mt-4">
    <option disabled selected>Who shot first?</option>
    <option>Han Solo</option>
    <option>Greedo</option>
  </select>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.text_field :kind, class: 'input input-bordered' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
