<!DOCTYPE html>
<html>
  <head>
    <title>MusicStudio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@2.39.0/dist/full.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
     <%= render "layouts/header" %>
      <main class="container mx-auto mt-28 h-screen">
        <% if session[:sucsses] %>
          <div class="alert alert-success">
            <%= session[:sucsses] %>
          </div>
        <% end %>
        <%= yield %>
      </main>
     <%= render "layouts/footer" %>

    <script>
      document.documentElement.setAttribute('data-theme', window.localStorage.getItem('theme'))
    </script>

    <%= javascript_importmap_tags %>
  </body>
</html>
